.page-subtitle {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  padding-top: 15%;
}

.placeholder-text {
  font-size: 18px;
  color: #999;
}

.first-button {
  width: 80%;
  max-width: 300px;
  height: 7vh;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  background-color: #4f8f8d;
  cursor: pointer;
  transition: background-color 0.3s ease;

  margin: 5%;
}

.first-button:hover {
  background-color: #457775;
}

.secondary-button {
  width: 80%;
  max-width: 300px;
  height: 7vh;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  color: #4f8f8d;
  background-color: #e1f5f4;
  cursor: pointer;
  margin-bottom: 5%;
}

.secondary-button:hover {
  background-color: #dae8d7;
}

.end-subtitle {
  font-size: 20px;
  font-weight: bold;
  color: #edaa8e;
  margin-top: 10%;
  padding-top: 0px;
}
.end-button {
  width: 80%;
  max-width: 300px;
  height: 100%;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  background-color: #4f8f8d;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20%;
  margin-bottom: 30%;
}

.image-box {
  width: 40vh;
  height: 40vh;
  display: flex;
  object-fit: contain;
  background-color: transparent;
  border: none;
  padding-bottom: -10%;
  margin: -10%;
}
.login-subtitle {
  padding-top: 100px;
}
.logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: -30%;
}
.character-image {
  width: 90%;
  height: 90%;
  object-fit: contain;
  padding-top: -30%;
}
