.page-container {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  width: 100dvw;
  max-width: 400px;
  min-width: 300px;
  height: 100dvh;
  margin: 0 auto;
  background-color: #f3efe9;
  border: 1px solid #ddd;
  text-align: center;
  overflow-y: scroll;
  min-height: 100vh;

  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
}

/* 제목 스타일 */
.page-title {
  font-size: 30px;
  font-weight: bold;
  /*margin-bottom: 40px;*/
  color: #edaa8e;
  margin-top: 100px;
}
.page-subtitle {
  font-size: 20px;
  font-weight: normal;
  color: #edaa8e;
}
.photo-container {
  width: 70%;
  height: 70%;
  display: flex;
  object-fit: contain;
  background-color: transparent;
  border: none;
}

.placeholder-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secret-recipe {
  background-color: #edaa8e;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  position: relative;
  display: inline-block;
  width: 80%;
  margin: 20px auto;
}

.secret-recipe .keyword {
  font-size: 14px;
  margin-top: 10px;
  display: block;
  color: #ffffff;
}
.plan-content {
  width: 85%;
  background-color: #4f8f8d;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.keywordex {
  font-size: 15px;
  display: block;
  color: white;
}
.plan-username {
  font-size: 25px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.plan-buttons {
  display: flex;
  justify-content: space-between; /* 버튼들을 좌우로 배치 */
  width: 100%;
  margin-top: 20px;
}

.half-button-l {
  width: 48%; /* 버튼 각각 화면 절반 차지 */
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  color: #4f8f8d;
  background-color: #e3e8e2;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.half-button-r {
  width: 48%; /* 버튼 각각 화면 절반 차지 */
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  background-color: #8ebab8;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.half-button:hover {
  background-color: #5c998e;
}
.additional-buttons {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 10px 0;
}
.email-button {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #edaa8e;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form-button:hover {
  background-color: #5c998e;
}
.back-button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  align-self: flex-start;
}

.back-icon {
  width: 24px; /* SVG 크기 조정 */
  height: 24px;
}

.key {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #edaa8e;
  position: relative;
  display: inline-block;
  width: 80%;
  margin: 20px auto;
}

.key .quote-icon {
  position: absolute;
  top: 10px;
}

.key .left-quote {
  left: 30px;
  top: 20px;
}

.key .right-quote {
  right: 30px;
  top: 20px;
}

.key .keyword {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  display: block;
  color: #edaa8e;
}
.plan-item-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.plan-item-box {
  flex: 0 0 15%;
  background-color: #e3e8e2;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 5px;
}

.plan-item-list {
  list-style-type: disc;
  margin: 0;
  padding-left: 20px;
}

.plan-item-content {
  font-size: 13px;
  margin-bottom: 5px;
}

.plan-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 90%;
}

.edit-button {
  background-color: #6ea8a1;
}

.reset-button {
  background-color: #edaa8e;
}
