/* 입력창 컨테이너 */
.register-title {
  padding-top: 20%;
  font-size: 20px;
  font-weight: bold;
  color: #eb996e;
}
form {
  width: 80%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 12%;
  margin-bottom: 20px;
  background-color: #edaa8e;
  border-style: solid;
  border-color: #f6b495;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.input-container.focused {
  background-color: #ffffff;
}

/* 입력 아이콘 */
.input-icon {
  position: absolute;
  left: 15px;
  font-size: 18px;
  color: #a58f7c;
}

/* 동적 입력창 */
.dynamic-input {
  flex: 1;
  border: none;
  border-radius: 10px;
  padding-left: 50px;
  font-size: 16px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  outline: none;
}

.dynamic-input:focus {
  color: #000;
}

/* 비밀번호 보기/숨기기 아이콘 */
.password-toggle-icon {
  position: absolute;
  right: 15px;
  cursor: pointer;
  width: 24px; /* Set a fixed width */
  height: 24px; /* Set a fixed height */
  color: #f3efe9;
  padding-right: 5px;
}
/* 버튼 */
button.register-button {
  width: 100%;
  height: 12%;
  border: none;
  border-radius: 35px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  background-color: #4f8f8d;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register-button:hover {
  background-color: #6ea8a1;
}
.register-button:active {
  background-color: #8dc1b7;
}
input::placeholder {
  text-align: center;
  padding-right: 23px;
  color: white;
  font-weight: normal;
}
/* 이미 회원이라면? 링크 */
.existing-user-link {
  font-size: 14px;
  color: #666;
}
.login-link {
  font-weight: bold;
  color: #3498db;
  text-decoration: none; /* 밑줄 제거 */
  transition: color 0.3s ease;
}
.login-link:hover {
  color: #216cce;
  text-decoration: underline; /* 마우스 호버 시 밑줄 추가 */
}
.forgot-input-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 304px;
  height: 64px;
  margin-bottom: 20px;
  background-color: #edaa8e;
  border-style: solid;
  border-color: #f6b495;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
}

.forgot-input-field.focused {
  background-color: #ffffff;
}
.terms-link {
  color: #4f8f8d;
  text-decoration: underline;
  cursor: pointer;
}

.terms-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}

.terms-checkbox input {
  margin-right: 8px;
}

.terms-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.terms-content {
  position: relative; /* 자식 요소(닫기 버튼)의 기준이 됨 */
  background-color: #ffffff;
  border: 2px solid #0066cc;
  border-radius: 10px;
  padding: 5%;
  width: 80%;
  height: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 3%;
  top: 3%;
}

.terms-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333333;
}

.terms-intro {
  font-size: 14px;
  line-height: 1.6;
  color: #555555;
  margin-bottom: 20px;
}

.terms-section {
  font-size: 12px;
  margin-bottom: 5%;
  margin-top: 5%;
  opacity: 0.7;
  text-align: center;
}
.terms-subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
  text-align: left;
}

.terms-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  text-align: center;
}

.terms-table td {
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 14px;
  vertical-align: top;
  text-align: left;
}
.terms-table th {
  border: 1px solid #cccccc;
  padding: 10px;
  font-size: 14px;
  vertical-align: center;
  width: 40%;
  background-color: #f3efe9;
}

.terms-footer {
  font-size: 12px;
  color: #555555;
  line-height: 1.4;
  text-align: center;
}
.forgot-title {
  font-size: 30px;
  font-weight: bold;
  color: #eb996e;
  margin-top: 100px;
  margin-bottom: 10px;
}
.forgot-subtitle {
  font-size: 13px;
  margin-bottom: 150px;
}
.forgot-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 상단 정렬 */
  gap: 5px; /* 버튼 간 간격 */
  width: 90%; /* 부모 컨테이너 전체 너비 */
}
.forgot-button {
  width: 100%;
  height: 12%;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  background-color: #4f8f8d;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}
.back-button {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
  margin-left: 20px;
  align-self: flex-start;
}

.back-icon {
  width: 24px; /* SVG 크기 조정 */
  height: 24px;
  pointer-events: none;
}
/* 하단 성공 메시지 스타일 */
/* 하단 성공 메시지 스타일 */
.success-message {
  position: fixed; /* 화면에 고정 */
  width: 40%;
  height: 8%;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  color: #fff;
  background-color: black;
  opacity: 0.3;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  bottom: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.forgot-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box {
  width: 90%;
  height: 90%;
  display: flex;
  object-fit: contain;
  background-color: transparent;
  border: none;
  margin: -10%;
  padding: -10%;
}

.register .logo-image {
  width: auto;
  height: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: -30%;
}
.character-image {
  width: auto;
  height: auto;
  width: 90%;
  height: 90%;
  object-fit: contain;
}
